body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}
/* Add this to style.css */
.image-splash {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-splash img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}


main {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Button Style */
button, input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #555;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Image Style */
img {
    max-width: 100%;
    height: auto;
}

